<input type="text" 
(change)="setNewUserName($event)" 
[value]="newUserName">
<button (click)="addUser()">Add User</button>
<div *ngFor="let user of users">
    {{user.name}} is {{user.age}} years old
    <span (click)="removeUser(user.id)">Remove</span>
</div>